
@import url('https://fonts.googleapis.com/css2?family=Baloo&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 74px;
  background-color: #0B53AA;
  display: flex;
}

.nav-button {
  flex: 1;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Baloo';
  font-weight: lighter;
  color:aliceblue;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover: fondo claro, texto violeta */
.nav-button:hover {
  background-color:aliceblue;
  color: #9243A1;
}

/* Botón activo (que indica en que seccion estas) */
.nav-button.active {
  background-color: #9243A1;
  color: aliceblue;
}

/*EDUCACIÓN */

.pagina-niveles {
  background-image: url('fondo-niveles.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.main-niveles {
  position: relative;
  text-align: center;
  padding: 100px 20px 150px;
  background-color: #0B53AA;
}

.logo img {
  height: 60px;
  margin-bottom: 20px;
}

.contenido h2 {
  font-family: 'Baloo', cursive;
  font-size: 96px;
  color: #F9FAE5;
  margin-bottom: 15px;
}

.texto-descriptivo {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #F9FAE5;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}