

@import url('https://fonts.googleapis.com/css2?family=Baloo&family=Baloo+2&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 74px;
  background-color: #0B53AA;
  display: flex;
}

/*paso esto que es del header-menu de navegacion index.html*/
#menu-de-navegacion a {
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

#menu-de-navegacion a[href="index.html"] {
  color: #F9FAE5;
  background-color: #9243A1;
  display: inline-block;
  width: 333px;
  height: 74px;
  line-height: 74px;
  text-align: center;
}

#menu-de-navegacion a[href="contacto.html"],
#menu-de-navegacion a[href="actividades.html"],
#menu-de-navegacion a[href="niveles.html"] {
  color: #0B53AA;
  display: inline-block;
  width: 333px;
  height: 74px;
  line-height: 74px;
  text-align: center;
  background-color: transparent;
}

#menu-de-navegacion a[href="contacto.html"]:hover,
#menu-de-navegacion a[href="actividades.html"]:hover,
#menu-de-navegacion a[href="niveles.html"]:hover {
  color: #9243A1;
}

.header-claro {
  background-color: #F9FAE5;
  width: 1920px;
  height: 74px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#menu-de-navegacion ul {
  display: flex;
  gap: 196px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
/*aca termina lo del header- menu de navegacion del index.html*/

.nav-button {
  flex: 1;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Baloo';
  font-weight: lighter;
  color: #F9FAE5;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover: fondo claro, texto violeta */
.nav-button:hover {
  background-color: #F9FAE5;
  color: #9243A1;
}

/* Botón activo (que indica en que seccion estas) */
.nav-button.active {
  background-color: #9243A1;
  color: #F9FAE5;
}



/*EDUCACIÓN */

.contenido {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url("fondo");
}
.main-niveles {
  position: relative;
  text-align: center;
  padding: 100px 20px 150px;
  background-color: #0B53AA;
}

.logo img {
  height: 287px;
  width: 287px;
  margin-bottom: 20px;
}

.contenido h2 {
  font-family: 'Baloo', cursive;
  font-size: 96px;
  color: #F9FAE5;
  margin-bottom: 15px;
}

.texto-descriptivo {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #F9FAE5;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}
/* Formación Académica */
.formacion {
  padding: 40px;
  font-family: 'Arial', sans-serif;
  text-align: left;
}

.formacion h2 {
  font-size: 2.5em;
  color: #1457A3;
  margin-bottom: 30px;
}

.nivel {
  display: flex;
  border: 2px solid #0057A3;
  border-radius: 15px;
  padding: 20px;
  gap: 20px;
  align-items: flex-start;
  max-width: 1100px; 
  margin: 0 auto;     
  background-color: #F9FAE5; 
}

.imagen-principal {
  width: 589px;
  height: 478px;
  border-radius: 10px;
  object-fit: cover;
}

.info {
  flex: 1;
  text-align: left; 
}

.info h3 {
  color: #391C8A;
  font-family: 'Baloo 2', cursive;
  font-size: 1.8em;
  margin: 0 0 10px;
  text-align: left; 
}

.info p {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  color: #0B53AA;
  margin-bottom: 15px;
}



.info p span {
  color: #0071CE;
  font-weight: bold;
}

.galeria {
  display: flex;
  gap: 10px;
}

.galeria img {
  width: 283px;
  height: 259px;
  object-fit: cover;
  border-radius: 10px;
}


.main-actividades {
  position: relative;
  text-align: center;
  padding: 100px 20px 150px;
  background-color: #0B53AA;
  min-height: 10px;
}

.texto-descriptivo-actividades {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #F9FAE5;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}

.fondo-actividades {
  background-image: url(img/fondo-actividades.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.carrusel {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.elemento {
  flex: 1 0 auto;
  margin: 0 50px;
}

.elemento img {
  width: 200px;
  height: 200px;
}