@import url('https://fonts.googleapis.com/css2?family=Baloo&family=Baloo+2&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 74px;
  background-color: #0B53AA;
  display: flex;
}

/* abro index.html*/
/* abro header*/
#menu-de-navegacion a {
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

#menu-de-navegacion a[href="index.html"] {
  color: #F9FAE5;
  background-color: #9243A1;
  display: inline-block;
  width: 333px;
  height: 74px;
  line-height: 74px;
  text-align: center;
}

#menu-de-navegacion a[href="contacto.html"],
#menu-de-navegacion a[href="actividades.html"],
#menu-de-navegacion a[href="niveles.html"] {
  color: white;
  background-color: #0B53AA;
  display: inline-block;
  width: 333px;
  height: 74px;
  line-height: 74px;
  text-align: center;
  background-color: transparent;
}

#menu-de-navegacion a[href="contacto.html"]:hover,
#menu-de-navegacion a[href="actividades.html"]:hover,
#menu-de-navegacion a[href="niveles.html"]:hover {
  color: #9243A1;
}

.header-claro {
  background-color: #F9FAE5;
  width: 100%;
  height: 74px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#menu-de-navegacion ul {
  display: flex;
  gap: 191px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

/*cierro header*/
/*abro main*/
#presentación {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  height: 86vh;
}

h1 {
  font-family: 'Barrio', cursive;
  font-size: 220px;
  color: #F9FAE5;
}

h3 {
  font-family: 'Baloo', cursive;
  font-size: 70px;
  color: #0B53AA;
  font-weight: 500;
}


h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: #F9FAE5;
}

h5 {
  font-family: 'Baloo 2', cursive;
  font-size: 40px;
  font-weight: 700;
  color: #391C8A;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #391C8A;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #0B53AA;
}

img {
  border-radius: 15px;
}

.jardin-section {
  display: flex;
  gap: 30px;
  justify-content: center;
  border: 3px solid #8A4695;
  border-radius: 20px;
  padding: 40px;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 150px;
}

.texto-jardin {
  max-width: 640px;
}


.docente {
  display: flex;
  gap: 20px;
  border: 3px solid #8A4695;
  border-radius: 20px;
}

.docentes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 1380px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 90px;
}

.intro-docentes {
  grid-column: 1 / -1;
  max-width: 700px;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fondo-amarillo {
  position: absolute;
  z-index: -1;
}

.fondo-amarillo img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0%;
}

.main-index {
  background-color: #0B53AA;
  position: relative;
  z-index: 0;
  padding-bottom: 150px;
}

/* cierro main*/
/* abro footer*/
.footer {
  height: 150px;
  background-color: #0B53AA;
  margin: 0 auto;
}

/* cierro footer*/
/*cierro index.html*/

.nav-button {
  flex: 1;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Baloo';
  font-weight: lighter;
  color: #F9FAE5;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover: fondo claro, texto violeta */
.nav-button:hover {
  background-color: #F9FAE5;
  color: #9243A1;
}

/* Botón activo (que indica en que seccion estas) */
.nav-button.active {
  background-color: #9243A1;
  color: #F9FAE5;
}



/*EDUCACIÓN */

.contenido {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url("fondo");
}

.main-niveles {
  position: relative;
  text-align: center;
  padding: 100px 20px 150px;
  background-color: #0B53AA;
}

.logo img {
  height: 287px;
  width: 287px;
  margin-bottom: 20px;
}

.contenido h2 {
  font-family: 'Baloo', cursive;
  font-size: 96px;
  color: #F9FAE5;
  margin-bottom: 15px;
}

.texto-descriptivo {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #F9FAE5;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

/* Formación Académica */
.formacion {
  padding: 40px;
  font-family: 'Arial', sans-serif;
  text-align: left;
}

.formacion h2 {
  font-size: 2.5em;
  color: #1457A3;
  margin-bottom: 30px;
}

.nivel {
  display: flex;
  border: 2px solid #0057A3;
  border-radius: 15px;
  padding: 20px;
  gap: 20px;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #F9FAE5;
}

.imagen-principal {
  width: 589px;
  height: 478px;
  border-radius: 10px;
  object-fit: cover;
}

.info {
  flex: 1;
  text-align: left;
}

.info h3 {
  color: #391C8A;
  font-family: 'Baloo 2', cursive;
  font-size: 1.8em;
  margin: 0 0 10px;
  text-align: left;
}

.info p {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  color: #0B53AA;
  margin-bottom: 15px;
}

.info p span {
  color: #0071CE;
  font-weight: bold;
}

.galeria {
  display: flex;
  gap: 10px;
}

.galeria img {
  width: 283px;
  height: 259px;
  object-fit: cover;
  border-radius: 10px;
}